<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!--  Load the properties file: sport.properties	-->
	<context:property-placeholder location="classpath*:sport.properties" />

	<!-- Define the dependency -->
	<bean id="myFortune" class="Demo.HappyFortuneService"></bean>


	<bean id="myCoach" class="Demo.BaseballCoach">
		<!-- 	Set up constructor injection -->
		<constructor-arg ref="myFortune"/>
	</bean>

	<bean id="myBasketballCoach" class="Demo.BasketballCoach">
		<!--	Set up setter injection	-->
		<property name="fortuneService" ref="myFortune"/>

		<!--	Inject Literal Values	-->
<!--		<property name="emailAddress" value="xuyangwang@com"/>-->
<!--		<property name="team" value="Rose"/>-->
			<property name="emailAddress" value="${xuyang.email}" />
			<property name="team" value="${xuyang.team}" />
	</bean>

</beans>





